a {
    text-decoration: none;
    color: #fff;
}
.desktop-menu a {
    margin-right: 5px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.03s ease-in-out;
}
.desktop-menu a:hover{
    background-color: #1769aa;
}
span{
    color: #b2a429;
    font-size: 32px;
}
.mobile-menu{
    display: block;
}
.desktop-menu{
    display: none;
}
@media only screen and (min-width: 768px) {
    .mobile-menu{
        display: none;
    }
    .desktop-menu{
        display: block;
    }
}