.banner {
    height: 90vh;
    overflow: hidden;
    position: relative;
}
.banner img {
    width: 100%;
    object-fit: contain;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.411);
}
.banner .text {
    position: absolute;
    top: 15%;
    left: 5%;
    z-index: 10;
}
.text h1 {
    font-size: 72px;
    color: #ab003c;
}
.text p {
    font-size: 22px;
    color: #fff;
}
@media only screen and (max-width:768px){
    .banner {
        height: 98%;
        overflow: hidden;
        position: relative;
    }
    .banner .text {
        top: 2%;
        left: 3%;
    }
    .text h1 {
        font-size: 38px;
        color: #ab003c;
    }
}